
body{background-color: slategrey;}

.container{background-color: lightgray; 
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

@media (max-width: 575px) {
    .container{width: 80%;}
}

.image{text-align: center;}

.title{font-style: italic; font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

#current{color: white;}

h1{color: indigo; 
    text-align: center;}
h3{text-align: center;}
h6{margin: 15px;}

td{border: 1px solid black;
    padding: 10px;
    background-color: white;}

th{border: 2px solid black; 
    padding: 25px;
    background-color: lightgray;}

table{border:2px solid black;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;}

h5{vertical-align: bottom;}

a{color: black;}
a:hover{color: black}

ol li{font-weight: bold;}
ol p{font-size: smaller;}